services:
  mt5-ticker-uploader:
    build:
      context: ./services/mt5-ticker-uploader
    container_name: mt5-ticker-uploader
    restart: unless-stopped
    volumes:
      - ./.data/mt5-ticker-uploader:/data/mt5-ticker-uploader

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./config/nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro

  ngrok:
    image: ngrok/ngrok:latest
    container_name: ngrok
    restart: unless-stopped
    env_file:
      - .env
    command: ["http", "${NGROK_TARGET}", "--url=${NGROK_DOMAIN}"]
    ports:
      - "4040:4040"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  n8n:
    image: n8nio/n8n:latest
    container_name: n8n
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5678:5678"
    volumes:
      - ./.data/n8n:/home/node/.n8n
